
/* Footer */

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
}
.insta-icon img {
  width: 50px;
  filter: invert(1);
  margin-bottom: 10px;
}

.contatos-title{
  margin-bottom: 15px;
}
.contatos{
  list-style: none;
  text-decoration: none;
}
.contatos li {
  margin-top: 5px;
}

.contatos img {
  width: 15px;
  filter: invert(1);
  margin-right: 10px;
}

