header {
  background-image: url(../assets/header-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;

}

header img {
  margin: 20px;
}
header h1 {
  font-size: 100px;
  color: white;
  padding: 40px;
}

hr{
  width: 30%;
  margin: 20px auto;
}

.titulo{
  text-align: center;
  margin-top: 40px;
}