/* Ajustes de tamanho de tela */
/* Telas grandes (desktop) */
@media (min-width: 1024px) {
  .produtos {
    width: 40rem;
  }
}

/* Telas médias (tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
  .produtos {
    width: 40rem;
  }
  .produto {
    flex-direction: column;
    width: 20rem;
  }
}

/* Telas pequenas (smartphones) */
@media (max-width: 767px) {
  .produtos {
    width: 25rem;
  }

  .item p {
    padding: 5px;
  }

  .item-nome {
    font-size: 15px;
  }

  .item-valor {
    font-size: 12px;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contatos-container{
    margin-top: 30px;
  }

  .produto {
    flex-direction: column;
    width: 20rem;
  }
}