header img {
  height: 100px;
}

.produto {
  width: 50rem;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.img-container img {
  width: 80%;
}

.btn-left,
.btn-right {
  all: unset;
  cursor: pointer;
}
.btn-left img, .btn-right img {
  width: 30px;
  height: 30px;
}

.prod-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.prod-info h1 {
  padding: 15px 0px;
}

.prod-info p {
  padding: 10px 0px;
}

.tamanhos {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.tamanhos li {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.521);
}