header{
  background-image: url(./assets/header-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header img {
  margin: 20px;
}


/* Produto */
.produtos {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  margin: 40px auto;
  justify-content: space-around;
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.item-img {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.item-nome {
  font-size: 25px;
  margin: 10px 0; /* Espaço acima e abaixo do nome do produto */
}

/* Ajustes de tamanho de tela */
/* Telas grandes (desktop) */
@media (min-width: 1024px) {
  .produtos {
    width: 40rem;
  }
}
/* Telas médias (tablets) */
@media (max-width: 1023px) and (min-width: 768px) {
  .produtos {
    width: 40rem;
  }
}
/* Telas pequenas (smartphones) */
@media (max-width: 767px) {
  .produtos {
    width: 25rem;
  }
}